.test-button {
  width: 300px;
  height: 100px;
  font-size: 30px;
}

.app-container {
  background-image: url(./img//backGroundImage.jpg);
  object-fit: cover;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherBox {
  border: 2px solid red;
}
